*{margin: 0;}

.d1{
    background-color: rgb(14, 77, 5);
    width: 98.9vw;
    height: 10vh;
    position: fixed;
    z-index: 10;
}

.d1 a{
  text-decoration: none;
}
.image1{
    height: 50px;
    width: 50px;
    position: relative;
    left: 10px;
    top: 5px;
}

.sp0{
    color: rgb(75, 124, 41);
    font-size: xx-large;
    position: relative;
    top: 10px;
    left: 12px;
}

  .sp3{
    position: relative;
    left: 920px;
    top: 10px;
    color: white;
    font-size: large;
  }
  .sp4{
    position: relative;
    left: 960px;
    top: 10px;
    color: white;
    font-size: large;
  }

  .sp5{
    position: relative;
    left: 1000px;
    top: 10px;
    color: white;
    font-size: large;
  }

  .d1 u:hover{
    text-decoration: underline;
  }

  .navbar{
    left: 500px;
    bottom: 47px;
    width: 400px;
  }

  .d2{
    display: block;
    width: 100vw;
    height: 80vh;
    background-color: rgb(39, 39, 39);
  }
  .image2{
    position: absolute;
    z-index: 1;
    top: 170px;
    width: 1520px;
   
  }

  .sp6{
    color: white;
   font-size: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 270px;
    left: 350px;
    font-weight: bold;
    
  }
 
  .sp8{
    color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    z-index: 2;
    top: 520px;
    left: 100px;
    font-size: xx-large;
    font-weight: bold;
  }
  .d3{
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70vh;
  }


.d4{
  background-color: rgb(39, 39, 39);
  width: 100vw;
  height: 100vh;
}

.image3{
  position: relative;
  top: 200px;
  width: 1535px;
  height: 500px;
  z-index: 6;
}
.sp11{
  position: relative;
  color: white;
  z-index: 7;
  bottom: 250px;
}
.sp9{
  color: white;
  font-size: xx-large;
    font-weight: bold;
    position: relative;
    top: 200px;
    left: 100px;
}

.d5{
  background-color: rgb(39, 39, 39);
  width: 100vw;
  height: 70vh;
}

.d6{
  background-color: rgb(59, 59, 59);
  width: 100vw;
  height: 30vh;
}

.icon1{
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}


.texte{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.sp10{
  color: white;
  
}

.icon1 a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: #80808075;
  margin: 10px;
}

.carousel-control-prev{
  color: white;
}

.d4 h5,p{
  color: white;
  position: relative;
  bottom: 350px;
  right: 350px;
}

.image4{
  width: 100vw;
  height: 82vh;
}